h1 {
    font-size: 7.2rem /* 72px */;
    font-weight: 600;
}

h2 {
    font-size: 4rem /* 40px */;
    font-weight: 600;
}

p {
    font-size: 1.6rem /* 16px */;
    margin-bottom: 1.6rem /* 16px */;
}

.above-heading {
    font-family: "Grape Nuts", cursive;
    font-size: 3.6rem /* 48px */;
    rotate: -4deg;
    position: absolute;
    font-weight: 400;

    + h1 {
        padding-top: 3rem;
    }

    + p {
        padding-top: 5rem;
        font-size: 2rem /* 24px */;
    }
}

.subheading {
    font-weight: 400;
    font-size: 3rem /* 30px */;
}

